* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  height: 94vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);;
}

.container h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.container p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color:gray;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  background: #f8f9fa;
  border-radius: 8px;
  padding: 6px;
  border: 1px solid grey;
  min-width: 450px;
  transition: ease-in 0.3s;
}

.search-container:hover {
  border-color: #007bff;
}

#name-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size:1.2rem;
  padding:0 .5rem;
  color: #333;
}

#search-button {
  background: #007bff;
  border: none;
  border-radius: 6px;
  padding: 1.2rem;
  color: white;
  cursor: pointer;
  transition: ease-in 0.3s ease;
  font-size: 1.1rem;
}

#search-button:hover {
  background: #0056b3;
}

#search-button:active {
  background: #004085;
}
